<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FileChain</title>
</head>
<body>
    <center><h1>FileChain</h1></center>
    <br><br>    
    <form action='/addFile' method='POST'>
    <center> Enter Filename: <input type='text' name='filename'></center>   
    <br><br>
    <center><input type="submit" value="Upload File"></center>
    </form>
</body>
</html>